.navbar {
  background-color: #c5e7b1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.navbar-logo img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%; /* circular cropping */
  overflow: hidden;
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: white; /* optional if PNG edges look weird */
  max-width: 200px;
}


.navbar-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.navbar-links a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: #4e4e4e;
  transition: color 0.2s;
}

.navbar-links a:hover {
  color: #6c8d47;
}
